@using BiF.Web.Identity
@{
    BifSessionData sessionData = (BifSessionData)ViewBag.Session;

    bool? isAdmin = sessionData?.Roles.Any(x => x.Name == "ADMIN");

}

<div style="text-align: left; margin: 25px auto">
    @if (DateTime.UtcNow < new DateTime(2020, 11, 16, 13, 0, 0)) {
        TimeSpan difference = (new DateTime(2020, 11, 16, 13, 0, 0) - DateTime.UtcNow);
        string timeDifference;
        double hourDifference = difference.TotalHours;
        if (hourDifference > 12) {
            timeDifference = $"<b>{Math.Floor(hourDifference):n0} hours</b> (and <b>{difference.Minutes:n0} minutes</b>) ";
        } else {
            timeDifference = $"<b>{Math.Floor(difference.TotalMinutes):n0}</b> minutes (and <b>{difference.Seconds:n0} seconds</b>)";
        }

        <div style="text-align: center">
    
            <h2>It's So Close...</h2>

            <div style="margin-bottom: 15px">
                Sign Ups will officially begin Monday, November 16.<br/>
                Check back in @Html.Raw(timeDifference) to complete your Secret Santa 2020 registration.
            </div>
    
            <video autoplay loop muted playsinline>
                <source src="https://media.giphy.com/media/5xtDaryAMLjvAyN4eiY/giphy.mp4" type="video/mp4">
                <img src="https://media.giphy.com/media/5xtDaryAMLjvAyN4eiY/giphy.gif">
            </video>
    
        </div>


    }
    else
    {
        <h2>BiF Secret Santa 2020 is Here!</h2>

        <p>
            Alright boys and girls, it's that magical time of year again, BiF Secret Santa.  Use the <b>Sign Up</b> button below to join this year's festivities.
        </p>



        <div style="text-align: center">
            <video autoplay loop muted playsinline>
                <source src="https://media.giphy.com/media/KGkSQmcIUmw41SYjqh/giphy.mp4" type="video/mp4">
                <img src="https://media.giphy.com/media/KGkSQmcIUmw41SYjqh/giphy.gif">
            </video>
        </div>

        <div style="margin: 10px auto; max-width: 500px; text-align: center">
            <input type="button" value="Sign Up" style="font-size: 1.5em; width: 160px" onclick="window.location = '@Url.Action("SignUp", "Exchanges", new {id = 3})'" />
        </div>

    <h3>The Dates</h3>
        
        <p>
            <div style="margin: 6px 20px">
                <b>Sign Ups:</b> November 14 - November 29
            </div>
            <div style="margin: 6px 20px">
                <b>Matching:</b> December 1
            </div>
            <div style="margin: 6px 20px">
                <b>Shipping deadline:</b> December 14 (report shipping by 12/16)
            </div>

        </p>

        <h3>The Rules</h3>

        <p>
            You need to have done some past beer trades, or exchanges, or swaps.  If you've done this before, you're probably good. If not use the past experience section of the profile form to make your argument.
        </p>

        <p>
            All participants will need to send a minimum of <b>155oz</b> of really fucking good beer, rated <b>4.1 or above</b> on Untappd. The average box last year was almost 200oz and the average rating was 4.26. We won't restrict your outpouring of holiday spirit again this year, but there is no guarantee you'll get an equally generous box in return. Based on the poll, we chose to up the minimum a little bit this year.  Two cans of freshies should fill the difference for those worried.
        </p>

        @*<div style="font-style: italic; font-size: .9em; margin: auto; max-width: 400px; text-align:center">
                "Do you know where I can find that guy that dropped 200oz of awesome on my porch last year?"
            </div>
            <div style="text-align: center">
                <img src="https://i.imgur.com/Tep4DbK.gif" />
            </div>*@

        <p>
            Only 155oz must be rated 4.1 or above, so you can send that ridiculously unappreciated farmhouse ale you love - the one brewed in the traditional method over super-heated stones imported from North Ostrobothnia and flavored with juniper foraged from head brewer's backyard - but get those 155oz of objectively well-rated beer out of the way first.  Face it - everyone just wants that 'tose.
        </p>
        <div style="text-align: center">
            <video autoplay loop muted playsinline>
                <source src="https://media.giphy.com/media/nrrpZ3p3ZRyRq/giphy.mp4" type="video/mp4">
                <img src="https://media.giphy.com/media/nrrpZ3p3ZRyRq/giphy.gif">
            </video>
        </div>
        <div style="font-style: italic; font-size: .9em; margin: auto; max-width: 500px; text-align: center">
            That draft list lookin straight fire bro.
        </div>

        <p>
            Remember, make your Untappd public starting December 1, so your Santa can low-key stalk your past check-ins.  Who knows, maybe your Santa will find you something off your Wish List or grab one of your favorites.
        </p>
        <div style="text-align: center">
            <video autoplay loop muted playsinline>
                <source src="https://media.giphy.com/media/xT9KVxDx0nqvVzqXgQ/giphy.mp4" type="video/mp4">
                <img src="https://media.giphy.com/media/xT9KVxDx0nqvVzqXgQ/giphy.gif">
            </video>
        </div>
            <div style="font-style: italic; font-size: .9em; margin: auto; max-width: 500px; text-align: center">
                It warms my heart to see strangers putting in the effort to make me happy.
            </div>

            <p>
                As always, this is a Christmas exchange - don't be a Grinch. (I recognize in the third act, the Grinch soften and becomes nice. However, he only returns what was stolen - he doesn't gift anything new. And then he rapidly develops hypertrophic cardiomyopathy and probably dies shortly after the story wraps. Don't be that Grinch either.)
                <div style="text-align: center">
                    <video autoplay loop muted playsinline>
                        <source src="https://media.giphy.com/media/DehVekltB70Ck/giphy.mp4" type="video/mp4">
                        <img src="https://media.giphy.com/media/DehVekltB70Ck/giphy.gif">
                    </video>
                </div>
                <div style="font-style: italic; font-size: .9em; margin: auto; max-width: 400px; text-align: center">
                    R.I.P.
                </div>
            </p>
            <p>
                Remember, BiF's are about sharing great local beer, spreading the holiday spirit, and having fun. They're not about winning and losing. 
            </p>
        <div style="text-align: center">
            <video autoplay loop muted playsinline>
                <source src="https://media.giphy.com/media/l0ErCAaHCtxxSCcoM/giphy.mp4" type="video/mp4">
                <img src="https://media.giphy.com/media/l0ErCAaHCtxxSCcoM/giphy.gif">
            </video>
        </div>
        <div style="font-style: italic; font-size: .9em; margin: auto; max-width: 400px; text-align: center">
            It's beer - we all win.
        </div>
        <div style="margin: 10px auto; max-width: 500px; text-align: center">
            <input type="button" value="Sign Up" style="font-size: 1.5em; width: 160px" onclick="window.location = '@Url.Action("SignUp", "Exchanges", new {id = 3})'" />
        </div>

        }
    </div>

@*<div style="display: none;">
    
    <div style="text-align: center; margin-top: 25px">
        <img src="https://media.giphy.com/media/3zFcbgHoIXzykQc7vU/giphy.gif" />

        <p style="font-size: 1.2em">Matches. Are. Ready.</p>
        
        <p>
            @Html.ActionLink("Click to View Match", "", "Match")
        </p>
        

    </div>

    <p>
        Use the form on the page to report shipping.  Boxes should ship by December 15, weather permitting.
    </p>
    
    <p>
        Don't forget to enter your beers into the Box Builder.  You need green checks on quantity (125oz) and Rating (4.1 on the best 125oz).
    </p>
    
    <p>
        Now go out and wreck a porch.
    </p>

</div>

<div>
    <h2>BiF Secret Santa 2020</h2>
    <p>
        Alright boys and girls, it's that magical time of year again, BiF Secret Santa.  Use the Register link above to create an account, complete a Profile, and join the Exchange.
    </p>
    <div style="text-align: center">
        <img src="https://media.giphy.com/media/Pguh8gf1lRtBaYToSG/giphy.gif"/>
    </div>
    <p>
    <h3>The Dates</h3>
    <p>
        <div style="margin: 6px 20px">
            <b>Sign Ups:</b> November 10 - December 1
        </div>
        <div style="margin: 6px 20px">
            <b>Matching:</b> December 4
        </div>
        <div style="margin: 6px 20px">
            <b>Shipping deadline:</b> December 15 (report shipping by 12/17)
        </div>

    </p>
    
    <h3>The Rules</h3>
    
    <p>
        You need to have completed at least 10 trades (on any platform), 2 BiF exchanges, or some combination to participate.
    </p>
    
    <p>
        All participants will need to send a minimum of 125oz of really fucking good beer, rated 4.1 or above on BA/Untappd.  There is no such thing as too much, but there is no guarantee you'll get an equally generous box in return.
    </p>

    <div style="font-style: italic; font-size: .9em; margin: auto; max-width: 400px; text-align:center">
        "Do you know where I can find that guy that dropped 200oz of awesome on my porch last year?" 
    </div>
    <div style="text-align: center">
        <img src="https://i.imgur.com/Tep4DbK.gif" />
    </div>
    
    <p>
        Only 125oz must be rated 4.1 or above, so you can send that criminally underrated foeder-aged pilsner (because what do the unappreciative masses on Untappd know about true craft lagers!), but get those 125oz of incredible out of the way first.
    </p>

    <p>
            As always, this is a Christmas exchange - don't be a Grinch, or a Krampus, or an errant BB. Grabbing a mixed six of barrel-aged Founders and a few good IPAs technically fulfills the requirement, but that's the BiF equivalent of a stocking full of underwear.
        <div style="text-align: center">
            <img src="https://media.giphy.com/media/8BkMgHay3rTAWaq5ms/giphy.gif" />
        </div>
            <div style="font-style: italic; font-size: .9em; margin: auto; max-width: 400px; text-align: center">
                Aubrey spittin' truth to KBS
            </div>
</p>
        <p>
            Remember, BiF's are about sharing great beer, spreading the Christmas spirit, and having fun.  They're not about winning and losing.  However, we can all agree the box itsalongwaydown received made him the loser last year, so don't be the guy that ships the box (bucket) full of turds.
        </p>
    </div>*@
