<div>
    <h2>BiF Secret Santa 2019</h2>
    <p>
        Alright boys and girls, it's that magical time of year again, BiF Secret Santa.  Use the Register link above to create an account, complete a Profile, and join the Exchange.
    </p>
    <div style="text-align: center">
        <img src="https://media.giphy.com/media/Pguh8gf1lRtBaYToSG/giphy.gif"/>
    </div>
    <p>
    <h3>The Dates</h3>
    <p>
        <b>Sign Ups:</b> November 10 - 30<br/>
        <b>Matching:</b> December 1 (tentative)<br />
        <b>Shipping deadline:</b> December 15 (report shipping by 12/17)

    </p>
    <h3>The Rules</h3>
    <p>
        You need to have completed at least 10 trades (on any platform), 2 BiF exchanges, or some combination to participate.
    </p>
    <p>
        All participants will need to send a minimum of 128oz of really fucking good beer, rated 4.1 or above on BA/Untappd.  There is no such thing as too much, but there is no guarantee you'll get an equally generous box in return.
    </p>
    <div style="font-style: italic; font-size: .9em; margin: auto; max-width: 400px; text-align:center">
        "Do you know where I can find that guy that dropped 200oz of awesome on my porch last year?" <br />
        <img src="https://i.imgur.com/Tep4DbK.gif" />
    </div>
    <p>
        As always, this is a Christmas exchange - don't be a Grinch, or a Krampus, or an errant BB. Grabbing a mixed six of barrel-aged Founders and a few good IPAs technically fulfills the requirement, but that's the BiF equivalent of a stocking full of underwear.
        <div style="font-style: italic; font-size: .9em; margin: auto; max-width: 400px; text-align:center"><img src="https://media.giphy.com/media/8BkMgHay3rTAWaq5ms/giphy.gif" /><br/>Aubrey spittin' truth to KBS</div>
    </p>
    <b>
        Remember, BiF's are about sharing great beer, spreading the Christmas spirit, and having fun.  They're not about winning and losing.  However, we can all agree itsalongwaydown was the uncontested loser last year, so don't be the guy that ships the box (bucket) full of turds.
    </b>
</div>
