@{
    ViewBag.Title = "BeerItForward | Contact";
}

<div class="body-content" style="width: 600px">

    <h2>Contact</h2>

    <p>This site is not without flaws.  It was thrown together somewhat quickly, and is a work in progress.</p>

    <p>Message one of us directly and we'll get your problem solved.</p>

    <div>
        <a href="https://www.reddit.com/message/compose/?to=bdawgert" target="_blank">u/bdawgert</a><br />
        <a href="https://www.reddit.com/message/compose/?to=itsalongwaydown" target="_blank">u/itsalongwaydown</a>
    </div>
</div>