@{
    ViewBag.Title = "BeerItForward | Home";
}


<div>
    <div>
        <h2>BiF Secret Santa 2019</h2>
        <p>
            Alright boys and girls, it's that magical time of year again, BiF Secret Santa.  Use the Register link above to create an account, complete a Profile, and join the Exchange.
        </p>
        <p>
            <h3>The Dates</h3>
        <p>
            Sign Ups: November 10 - December 6
            Matching: December 8 (tentative)
            Shipping deadline: December 15 (report shipping by 12/17)
        </p>
        <h3>The Rules</h3>
        <p>
            You need to have completed at least 10 trades (on any platform), 2 BiF exchanges, or some combination to participate.
        </p>
        <p>
            All participants will need to send a minimum of 128oz of really fucking good beer, rated 4.1 or above on BA/Untappd.  There is no such thing as too much.
        </p>
        <div style="font-style: italic; margin: auto; max-width: 400px; text-align:center">
            "Do you know where I can find that guy that dropped 200oz of awesome on my porch last year?" <br />
            <img src="https://i.imgur.com/Tep4DbK.gif" />
        </div>
        <p>
            As always, this is a Christmas exchange - don't be a Grinch, or a Krampus, or an errant BB. Grabbing a mixed six of barrel-aged Founders and a few good IPAs technically fulfills the requirement, but that's the BiF equivalent of a stocking full of underwear.
            <div style="font-style: italic; margin: auto; max-width: 400px; text-align:center"><img src="https://media.giphy.com/media/Yd2qjjVXOiX4I/giphy.gif" /><br/>Shipping out that 4.1 rated shelfie</div>
        </p>
    </div>
</div>