<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/504d62bc-7fc4-403c-846d-76eee995bc04/resourceGroups/beeritforward/providers/Microsoft.Web/sites/beeritforward</ResourceId>
    <ResourceGroup>beeritforward</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://beeritforward.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>beeritforward.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>beeritforward</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$beeritforward</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BifDbContext" Order="2" Enabled="True">
          <Destination Path="Data Source=bif.database.windows.net;Initial Catalog=BiF;User ID=bd-bif-admin;Password=nNhb%bTrp7U5Zu8*^FWQn4Vu" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BiF.DAL.Concrete.BifDbContext, BiF.DAL" MigrationConfiguration="BiF.DAL.Migrations.Configuration, BiF.DAL" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BifDbContext-Web.config Connection String">
      <ParameterValue>Data Source=bif.database.windows.net;Initial Catalog=BiF;User ID=bd-bif-admin;Password=nNhb%bTrp7U5Zu8*^FWQn4Vu</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=bif.database.windows.net;Initial Catalog=BiF;Persist Security Info=True;User ID=bd-bif-admin;Password=U8*VDys^XSE^7CY2WszCAjkq</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>