body {
    background: #1c4d71;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #eab326;
}

a:visited {
    color: #d4a11e;
}


.header-bar {
    background: #00243e;
    background: linear-gradient(0, #012f50 0, #033b63 100% );
    border-bottom: 1px solid #091629;
    font-size: 2.5em;
    font-weight: bold;
    height: 60px;
    text-align: center;
}

.navigation-bar {
    background: #00243e;
    background: linear-gradient(0, #033b63 0, #0a446e 100%);
    border-top: 1px solid #0a446e;
    border-bottom: 1px solid #091629;
    color: #fff;
    font-weight: bold;
    height: 40px;
    text-transform: uppercase;
}

.navigation-bar a {
    color: #fff;
    text-decoration: none;
}

.navigation-menu {
    align-items: center;
    display: flex;
    height: 40px;
    left: 0;
    position: absolute;
}

.account-menu {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: space-between;
    position: absolute;
    right: 0;
}

.bar-item { margin: 0 10px }

/* Set padding to keep content from hitting the edges */
.main-content {
    margin: 15px auto;
}

.body-content {
    /*background: #b0b4b6;*/
    background: #012f50;
    border: 1px solid #00243e;
    box-shadow: 0 2px 5px 0 #00243e;
    margin: auto;
    padding: 15px;
    padding-top: 0;
}

.sidebar > div {
    margin: 6px 0;
}

.notification-content {
    background: #edb977;
    background: rgba(212, 157, 87, .6);
    border: 1px solid #ea8026;
    box-shadow: 0 2px 5px 0 #00243e;
    margin: 15px auto;
    padding: 15px;
}

.validation-summary-errors {
    background: #edb977;
    background: rgba(212, 157, 87, .6);
    border: 1px solid #ea8026;
    color: #fff;
    margin: 15px 0;
    padding: 8px;
}

.validation-summary-errors ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

.input-validation-error {
    border-color: #ea8026
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    box-sizing: border-box;
    margin: 3px 0;
}

    input[type=button],
    input[type=submit],
    button {
        background-color: #eab326;
        border: 2px solid #694c00;
        font-size: 1.1em;
        font-weight: bold;
        padding: 4px 2px;
        width: 140px;
    }

.form-row {
    align-items: center;
    display: flex;
    margin: 5px auto;
}

.form-label {
    width: 120px;
    font-weight: bold;
}

.link-button {
    width: 120px;
    font-weight: bold;
    text-decoration: none;
}

.required:after {
    content: '*';
    color: #eab326;
    font-size: 1.1em;
    font-weight: bold;
}

    .bif-table {
        text-align: center;
        background-color: #1c4d71;
        border: 1px solid #000;
        border-collapse: collapse;
        color: #fff;
    }

    .bif-table thead td {
        background-color: #d0ae57;
        color: #000;
    }

    .bif-table td {
        border: 1px solid #012f50;
        padding: 8px;
    }

        .bif-table td:first-child {
            text-align: left;
        }

    .bif-table input[type=radio], .bif-table input[type=checkbox] {
        height: 20px;
        width: 20px
    }

    .bif-table tbody tr:hover {
        background-color: rgba(234, 179, 38, .2);
    }

.icon {
    background-image: url(/Content/img/mono-icons.png);
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
}
.icon-hover:hover {
    box-shadow: 0 0 2px 1px #d4a11e, inset 0 0 3px 1px #d4a11e;
}
.icon-profile {
     background-position-x: -4px; background-position-y: -4px;
}

.icon-userstatus-none {
    background-position-x: -4px; background-position-y: -52px;

}
.icon-userstatus-approved {
    background-position-x: -52px;
    background-position-y: -52px;
}
.icon-userstatus-notapproved {
    background-position-x: -28px;
    background-position-y: -52px;
}

.icon-user, .icon-user-approved {
    background-position-x: -28px;
    background-position-y: -4px;
}

.icon-user-admin {
    background-position-x: -100px;
    background-position-y: -4px;
}

.icon-user-incomplete {
    background-position-x: -52px;
    background-position-y: -4px;
}